.acts_as_monitor_status_window{
  background-color: #F2F2F2;
  border: solid black 2px;
  opacity: 0.9;
}

.acts_as_monitor_status_window legend{
  opacity: 1.0;
  background-color: #F2F2F2;
}

.acts_as_monitor_status_window h2.acts_as_monitor_errors_title{
  font-weight: normal;
  background-color: red;
  text-align: center;
}

.acts_as_monitor_status_window h2.acts_as_monitor_warnings_title{
  font-weight: normal;
  background-color: #FACC2E;
  text-align: center;
}

li.acts_as_monitor_list_errors{
  list-style-image: url('../images/acts_as_monitor_red.png');
}

li.acts_as_monitor_list_warnings{
  list-style-image: url('../images/acts_as_monitor_yellow.png');
}
